.login-page {
  width: 100vw !important;
  margin-top: -100px;
}

.form-background {
  background-color: white;
  padding: 40px 60px 20px 60px;
  border: none;
  border-radius: 5px;
  color: dimgray;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 400px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-background {
  background-color: #009933;
  padding: 22px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  width: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-logo {
  width: 70px;
  height: 70px;
}

.secure-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.secure-login-icon {
  width: 26px;
  height: 26px;
}

.secure-login-message {
  color: #009933;
  margin-left: 10px;
  font-size: 14px;
}

.welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.6);
  padding-left: 6px;
  font-size: 11px;
}

input {
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 228, 239, 0.5);
  caret-color: #009933;
  width: auto;
  height: 28px;
  padding: 12px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 300px;
  cursor: text;
}

input:hover {
  outline: none;
  border: solid 1px #009933;
}

input:focus {
  outline: none;
  border: solid 2px #009933;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  display: flex;
  width: 74px;
}

label {
  font-size: 13px;
}

.form-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 200;
}

.submit-btn {
  background-color: #009933;
  color: white;
  border: none;
  padding: 10px 42px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #00661f;
  border: none;
  margin-top: 10px;
}

.form-link {
  font-size: 11px;
  font-style: italic;
  margin: 14px;
  cursor: pointer;
}

.form-link:hover {
  color: #009933;
}
